@model TiffinPoint.Models.ItemModel

@{
    ViewBag.Title = "AddItem";
}

<h2>Add Items</h2>


@using(Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>fill in </h4>
        <hr />
        @Html.ValidationSummary(true, "", new
            {
            @class = "text-danger"
            })
        @*<div class="form-group">
                @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ItemId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new
           {
           @class = "control-label col-md-2",@id= "item"
           })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new
                    {
                    htmlAttributes = new
                        {
                        @class = "form-control"
                        }
                    })
                @Html.ValidationMessageFor(model => model.ItemName, "", new
                    {
                    @class = "text-danger"
                    })
                @*<p id="errormsg"></p>*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" id="btnsubit" class="btn btn-default" />
            </div>
        </div>
    </div>


      @*  JQuery validation*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
                {
                    $(document).ready(function () {
                        $('#btnsubit').click(function () {
                            var csname = $('#item').val();
                            if(csname=="") {
                                $('#errormsg').text("please enter an item name");
                                $('#item').focus();
                                return false;
                            }
                            else {
                                var conf = confirm("Are you sure you want to submit?");
                                if (conf == true) {
                                    alert("item added successfully");
                                    return true;
                                }
                                else {
                                    return false;
                                }
                            }

                        });
                    });
                }
    </script>
    }
<div>
    @Html.ActionLink("Back to Item Page", "Index", "Item")
</div>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
