@*@model IEnumerable<BigBazarPresentationLayer.Models.CustomerModel>*@
@model IEnumerable<BigBazarEntities.Customer>


@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>GetAllCustomers</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |*@
                    <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
            }
    </tbody>

</table>
<ins style="color:blue">@Html.ActionLink("Back To Menu", "Index", "User")</ins>
