
@{
    ViewBag.Title = "Home Page";
}

<h2>HomePage</h2>

<h1>Click</h1>
@Html.ActionLink("ADD STUDENTS", "AddStudent")
@Html.ActionLink("ADD BRANCH", "AddBranch")
@Html.ActionLink("DISPLAY STUDENTS", "DisplayAllStudents")
@Html.ActionLink("DISPLAYBRANCHES", "DisplayAllBranches")
@Html.ActionLink("UPDATE STUDENTS", "UpdateStudent")




